<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./common/header.ejs'); %>

        <link rel="stylesheet" href="/styles/login.css">
        <link type="image/png" sizes="96x96" rel="icon" href="/Images/icons/fav/Web/login-96.png">
        <title>Login</title>
</head>

<body class="position-relative bg-dark text-light">
    <%- include('./common/alert.ejs'); %>
    <%- include('./common/alert2.ejs'); %>

        <div class="d-flex justify-content-center pt-4">
            <form class="col-11 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3 p-4 rounded-2 glass" action="/login"
                method="post">
                <!-- Uername input -->
                <div class="form-outline mb-4">
                    <input name="username" type="text" id="usernameInp" class="form-control" />
                    <label class="form-label text-light fs-7 mt-1" for="usernameInp">Username</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input name="password" type="password" id="passInp" class="form-control" />
                    <label class="form-label text-light fs-7 mt-1" for="passInp">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input name="rememberMe" class="form-check-input" value="true" type="checkbox" id="rememberMe"
                                checked />
                            <label class="form-check-label pt-1" for="rememberMe"> Remember me </label>
                        </div>
                    </div>

                    <div class="col pt-1">
                        <!-- Simple link -->
                        <a href="#">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="#">Register</a></p>
                    <p>or sign up with:</p>
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </div>
            </form>

        </div>



        <%- include('./common/footer.ejs'); %>

            <script src="/scripts/login.js"></script>
</body>

</html>