<div class="col-12" style="position: absolute; top: 20%; z-index: 1000000; ">
    <div class="alert col-12 col-md-6 d-none" role="alert" style="margin: auto;">
        <button type="button" class="close" id="cloesAlert" onclick="closeAlert()"><span
                aria-hidden="true">&times;</span>
        </button>
        <strong id="alertText"></strong>
    </div>
</div>