<div id="companyModal" tabindex="-1"
    class="Modal overflow-auto position-absolute left-0 align-items-center d-flex justify-content-center col-12"
    style="min-height: 100%; z-index: 200;">
    <div class="p-4 rounded-3 col-11 col-lg-8 bg-glass-light" style="height: fit-content;">
        <div class="fs-5 text-center text-md-start text-primary">
            <p class="headModal col-md-7 mx-auto mx-md-0 ms-md-5">
                <span id="companymodalTitle">Edit Company</span>
            </p>
        </div>
        <div class="container mt-2">
            <div class="row justify-content-center justify-content-md-start ps-md-5 align-items-center">
                <div class="col-9 col-sm-5 col-md-2  position-relative p-0" style="height: fit-content;">
                    <label for="avatarEdit" class="form-label col-12 h-100 user-select-none" style="cursor: pointer;">
                        <img id="avatarFile" src="/Images/icons/companies/logo.png" alt="" class="col-12 h-100">
                    </label>
                    <input class="form-control d-none " type="file" id="avatarEdit" name="avatarFile">
                </div>
                <div class="p-0 col-12 col-md-10 ps-md-3 d-flex flex-wrap justify-content-between"
                    style="height: 9rem;">
                    <input id="companynameEdit"
                        class="text-dark form-control  form-control-sm bg-transparent placeholder-primary fs-5 col-12 text-center"
                        type="text" id="" placeholder="Company Name">
                    <div class="col-5 mt-2">
                        <div class="input-group mb-3 col-5">
                            <span class="input-group-text" id="basic-addon1">&reg;</span>
                            <input id="registeredNumberEdit" type="text"
                                class="text-dark form-control bg-transparent placeholder-black"
                                placeholder="Registration Number" aria-label="Registration Number"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-5 mt-2">
                        <div class="input-group mb-3 col-5">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
                            <input id="telEdit" type="text"
                                class="text-dark form-control bg-transparent placeholder-black" placeholder="Telephone"
                                aria-label="Telephone" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-12 mt-1">
                        <div class="input-group mb-3">
                            <input id="cityEdit" type="text"
                                class="text-dark form-control bg-transparent placeholder-black" placeholder="City"
                                aria-label="City">
                            <span class="input-group-text">,</span>
                            <input id="provinceEdit" type="text"
                                class="text-dark form-control bg-transparent placeholder-black" placeholder="Province"
                                aria-label="Province">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center justify-content-md-end pt-3 ">
                <div class="d-flex col-12 col-md-7 justify-content-center justify-content-md-end pt-3 gap-3"
                    style="border-top: 1px solid black;">
                    <button id="submitCompanyBtn" type="button" class="btn btn-success col-md-3"
                        onclick="">Submit</button>
                    <button id="closeModal" type="button" class="btn btn-danger col-md-3">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>